

.parent_div div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parent_div div {
    border: 2px ridge black;
    margin: 8px;
    padding: 14px;
    text-align: centre;
}
